@media (max-width: 539.98px) {
    .nav-header {
        background-color: #2D2E83;
        /* background: linear-gradient(to right, #FFFFFF 20%, #2D2E83 20%, #2D2E83 80%, #2D2E83 100%); */
      }
      .feature-img {
        max-width: 100%;
        height: auto;
        border: 1px solid #5EDCD4;
        border-radius: 1.125rem;
      }
}

@media (min-width: 539.99px) {
    .nav-header {
        background: linear-gradient(to right, #FFFFFF 25%, #2D2E83 25%, #2D2E83 80%, #2D2E83 100%);
        border-radius: 50px;
         margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px; 
        /* background-image: url('../../../assets/img/fondo-test2.png'); */
        border: 1px solid #2D2E83;
      }
      .feature-img {
        width: 560px;
        height: 390px;
        border: 1px solid #5EDCD4;
        border-radius: 1.125rem;
      }
}

/* CARRUSEL */
.js-carrusel {
  display: flex;
  width: 600px;
  margin: auto;
  justify-contetn:center;
  align-items: center;
}

.js-carrusel > .direction {
  width: 50px;
  text-align: center;
  font-size: 40px;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
}

.js-carrusel > .direction.disabled {
  color: grey;
  cursor: not-allowed;
}

.js-carrusel > .container {
  flex-grow: 1;
  background: red;
  height: 200px;
  overflow: hidden;
  position: relative;
}

#all_content {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  display: flex;
  width: 100%;
  transition: .5s;
}

#all_content > .content {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  
}
/* FIN DE CARRUSEL */