body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #00983A;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #2D2E83;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #00983A;  /* creates padding around scroll thumb */
}

/* carrusel */
/*Inicia cambio de estilo de scroll bar*/
::-webkit-scrollbar{
  background: #00983A;
  width: 8px;
height: 8px;
}
::-webkit-scrollbar-track {
background: #00983A;
border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
background: #2D2E83;
box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:active {
background-color: #2D2E83;
}
::-webkit-scrollbar-thumb {
background: #2D2E83;
border-radius: 4px;
}
/*Finaliza cambio de estilo scroll bar*/
/*CAROUSEL al contenedor padre se le deja el tamaño del 100%*/
#carousel{
width:100%;
height: 100%;
margin-top: 5%;
margin-bottom: 5%;
}
/*en la clase del carousel se realiza independiente para que ahi pueda agregar el escroll X*/
.carousel{
overflow-x:scroll;
}
/*el texto ya esta centrado ya que se le dio el ancho del 100% al contenedor padre*/
#carousel p{  
color: #134A73; 
font-family:sans-serif;
font-size:20px;
text-align:center;   
margin-top: 3%;
margin-bottom: 40px;  
}
/* se le da el tamaño que se desea para la visulizacion de las imagenes ya que en el contenedor de la clase de carousel es donde estara creado el scroll*/
#carousel .gallery {
display: flex;
flex-direction: row;
width:2500px;
height: 70vh;
}

#carousel .item {
flex: 1;
height: 100%;
background-position: center;
background-size: cover;
background-repeat: none;
transition: flex 0.8s ease;
}

#carousel .item:hover{
  flex: 15%;
}

/*fotos*/

#carousel .item-1 { 
background-image: url('https://marsgame.pe/assets/img/ganadores/1.jpg');
}
#carousel .item-2 { 
background-image: url('https://marsgame.pe/assets/img/ganadores/2.jpg');
}
#carousel .item-3 { 
background-image: url('https://marsgame.pe//assets/img/ganadores/3.jpg');
}
#carousel .item-4 { 
background-image: url('https://marsgame.pe/assets/img/ganadores/4.jpg');
}
#carousel .item-5 { 
background-image: url('https://marsgame.pe/assets/img/ganadores/5.jpg');
}
#carousel .item-6 { 
background-image: url('https://marsgame.pe/assets/img/ganadores/6.jpg');
}
#carousel .item-7 { 
background-image: url('https://marsgame.pe/assets/img/ganadores/7.jpg');
}
#carousel .item-8 { 
background-image: url('https://marsgame.pe/assets/img/ganadores/8.jpg');
}

#carousel .item-9 { 
background-image: url('https://marsgame.pe/assets/img/ganadores/9.jpg');
}
#carousel .item-10 { 
background-image: url('https://marsgame.pe/assets/img/ganadores/10.jpg');
}
/* #carousel .item-11 { 
background-image: url('https://i.ibb.co/dJZ5JW4/18c.jpg');
}
#carousel .item-12 { 
background-image: url('https://i.ibb.co/1LM3t5n/5c.jpg');
} */
/*se agrego el cursos para que sepa que esta en cada imagen*/
.gallery .item:hover{
cursor:pointer;
}



/* fin carrusel */

@media (max-width: 539.98px) {
  .video_smash{
    border-radius: 20px;
    height: 250px;
  }
  .mascota {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    margin-bottom: -50px;
  }
  .movil{
    display: none !important;
  }
  .movil-block{
    display: block !important;
  }
  .nav-header {
      background-color: white;
      color: blue;
      /* background: linear-gradient(to right, #FFFFFF 20%, #2D2E83 20%, #2D2E83 80%, #2D2E83 100%); */
    }
    .feature-img {
      max-width: 100%;
      height: auto;
      border: 1px solid #5EDCD4;
      border-radius: 1.125rem;
    }
    .text-white {
      color: #2D2E83 !important;
    }
    .btn-border {
      border: 1px solid #2D2E83 !important;
      border-radius: 25px !important;
    }
    .text-white-promo {
      color: white !important;
      font-size: 88px !important;
    }
    .table-min{
      min-width: 200px;
    }
}

@media (max-width: 959px)  {
  .video_smash{
    border-radius: 20px;
    height: 250px;
  }
  .mascota {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    margin-bottom: -50px;
  }
  .movil{
    display: none !important;
  }
  .movil-block{
    display: block !important;
  }
  .nav-header {
    background-color: white;
    color: blue;
    /* background: linear-gradient(to right, #FFFFFF 20%, #2D2E83 20%, #2D2E83 80%, #2D2E83 100%); */
  }
  .feature-img {
    max-width: 100%;
    height: auto;
    border: 1px solid #5EDCD4;
    border-radius: 1.125rem;
  }
  .text-white {
    color: #2D2E83 !important;
  }
  .btn-border {
    border: 1px solid #2D2E83 !important;
    border-radius: 25px !important;
  }
  .text-white-promo {
    color: white !important;
    font-size: 88px !important;
  }
  .table-min{
    min-width: 170px;
  }
}

@media (min-width: 960px) {
  .video_smash{
    border-radius: 20px;
    height: 650px;
  }
  .mascota {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    margin-bottom: -80px;
  }
  .movil{
    display: block !important;
  }
  .movil-block{
    display: none !important;
  }
  .nav-header {
      background: linear-gradient(to right, #FFFFFF 25%, #2D2E83 25%, #2D2E83 80%, #2D2E83 100%);
      border-radius: 50px;
        margin-top: 10px;
      margin-left: 20px;
      margin-right: 20px; 
      /* background-image: url('../../../assets/img/fondo-test2.png'); */
      border: 1px solid #2D2E83;
    }
    .feature-img {
      width: 560px;
      height: 390px;
      border: 1px solid #5EDCD4;
      border-radius: 1.125rem;
    }
    .text-white {
      color: #fff !important;
    }
    .btn-border {
      border: 1px solid white !important;
      border-radius: 25px !important;
    }
    .text-white-promo {
      color: white !important;
    }
    .table-min{
      width: 170px;
    }
}

/* CARRUSEL */
.js-carrusel {
  display: flex;
  width: 600px;
  margin: auto;
  justify-contetn:center;
  align-items: center;
}

.js-carrusel > .direction {
  width: 50px;
  text-align: center;
  font-size: 40px;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
}

.js-carrusel > .direction.disabled {
  color: grey;
  cursor: not-allowed;
}

.js-carrusel > .container {
  flex-grow: 1;
  background: red;
  height: 200px;
  overflow: hidden;
  position: relative;
}

#all_content {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  display: flex;
  width: 100%;
  transition: .5s;
}

#all_content > .content {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  
}
/* FIN DE CARRUSEL */

.ben-banner {
  position: relative;
  /* margin: calc(80px + 3rem) auto 3rem auto; */
  border-radius: 1rem;
  transition: .2s;
  /* width: 1030px; */
  height: 300px;
  background-size: cover !important;
  background-position: center !important;
  color: #fff;
  /* z-index: 3; */
}

.btn-l {
  display: inline-block;
  font-weight: 700;
  line-height: 1.45;
  color: #2D2E83;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 5px;
  font-size: 1rem;
  border-radius: 20px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-login {
  color: #2D2E83;
  background-color: white;
  border-color: white;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-login:hover {
  color: #2D2E83;
  background-color: #76e1da;
  border-color: #6ee0d8;
}

.text-ligth {
  color: white !important;
}

.input-none {
  background-color: transparent !important;
  border-color: transparent !important;
  color: white;
  width: 50px;
}

/* WHATSAPP */

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.45);
    opacity: 0;
  }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  width: auto;
  height: auto;
  position: fixed;
  z-index: 8;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  margin: 0px;
}
@media (max-width: 360px) {
  .nav-bottom {
    width: 320px;
  }
}

.whatsapp-button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  z-index: 8;
  transition: 0.3s;
  margin: 10px;
  padding: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
}

.circle-anime {
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  transition: 0.3s;
  background-color: #77bb4a;
  animation: pulse 1.2s 1s ease infinite;
}

.popup-whatsapp {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  padding: 10px;
  bottom: 85px;
  right: 6px;
  transition: 0.5s;
  border-radius: 10px;
  background-color: white;
  /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  animation: slideInRight 0.6s 0s both;
}
.popup-whatsapp > div {
  margin: 5px;
}
@media (max-width: 680px) {
  .popup-whatsapp p {
    font-size: 0.9em;
  }
}
.popup-whatsapp > .content-whatsapp.-top {
  display: flex;
  flex-direction: column;
}
.popup-whatsapp > .content-whatsapp.-top p {
  color: #585858;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1em;
}
.popup-whatsapp > .content-whatsapp.-bottom {
  display: flex;
  flex-direction: row;
}

.closePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: 0px 0px 15px 0px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  /* background-color: #f76060; */
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.closePopup:hover {
  background-color: #f71d1d;
  transition: 0.3s;
}

.send-msPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0px 0px 0px 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.send-msPopup:hover {
  background-color: #f8f8f8;
  transition: 0.3s;
}

.is-active-whatsapp-popup {
  display: flex;
  animation: slideInRight 0.6s 0s both;
}

input.whats-input[type=text] {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 0px solid #ffffff;
  border-radius: 20px;
  font-size: 1em;
  background-color: #ffffff;
  padding: 0px 0px 0px 10px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  outline: none;
  transition: 0.3s;
}
@media (max-width: 420px) {
  input.whats-input[type=text] {
    width: 225px;
  }
}
input.whats-input::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(68, 68, 68, 0.705);
  opacity: 1;
}
input.whats-input[type=text]:focus {
  background-color: #f8f8f8;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  transition: 0.3s;
}

.icon-whatsapp-small {
  width: 24px;
  height: 24px;
}

.icon-whatsapp {
  width: 45px;
  height: 45px;
}

.icon-font-color {
  color: #ffffff;
}

.icon-font-color--black {
  color: #333333;
}

/* FIN WHATSAPP */
